body {
  background-image: url("v602-nunoon-05-rippednotes.jpg");
  background-color: #cccccc;
  font-family:'Courier New', monospace;
}
body.dark-mode {
  background-image: url("black-stripped-paper.jpg");
  background-color: #010101;
  color: #ffffff;
}
body.dark-mode button {
  background-color: #ffffff;
}
img {
max-width: 100%;
height: auto;
}
.row {
  display: flex;
  box-align: center;
  color: #444647;
}
.column {
  flex: 33.33%;
  padding: 1px;
}
nav ul {background-color: #41A8EC;
  display: flex;
  list-style: none;
  margin: auto;
  font-family: Courier New;
  width: 100%;
  text-align: center;
  padding: 3px;
  font-size: 20px;
}
nav ul li {
  padding: 3px;
  width: 100%;
  text-align: center;}
nav ul li:last-child {
  border-bottom: none;
  text-align: center;}
nav ul li a {
  color: #FBBCD6;
  text-align: center;
  text-decoration: none;}
nav ul li a:hover {
  display: block;
  background-color: #2A5761;
  color: white;
}
h1 {
  color: #444647;
  text-align: center;
  font-size: 42px;
}
.container {
display: block;
max-width: 960px;
margin: auto;
}
img{
  float: aside;
  padding: 5px;
}

footer{
  color: #444647;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-size: 8px;
}
.lil1 {
   display: grid;
   background-color: #E67575;
   border-radius: 25px;
   grid-template-columns: auto auto;
   opacity: 50%;
   padding: 5px;
}
.lil1 div {
  border: 1px solid black;
  border-radius: 25px;
  padding: 04px;
  font-size: 20px;
  text-align: center;
}